DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=energoflow

IMAP_SERVER=imap.yourprovider.com
IMAP_PORT=993
IMAP_ADDRESS=your@email.com
IMAP_PASSWORD=yourpassword
FORECAST_ADDRESS=forecast@sender.com
IBD_ADDRESS=ibd@sender.com

DROPBOX_APP_KEY=your_dropbox_app_key
DROPBOX_APP_SECRET=your_dropbox_app_secret
DROPBOX_TOKEN_FILE=/app/dropbox_token.json
DROPBOX_EVAL_FILE_PATH=/app/downloads
